<div class="container">
  <div class="row">
    <div class="col s12 m4 push-m8 center-align">
      <h3>Settings</h3>



      <div class="mt-4">
        <%= form_with model: current_user.profile, local: true do |form| %>
          <div class="input-field col s12 theme">
            <%= select :color_theme,
                       Profile.color_themes[current_user.profile.color_theme],
                       select_options(Profile.color_themes.map { |k, v| [k, v] }, 'Choose a theme'),
                       { class: 'theme', required: true} %>
            <%= form.label :color_theme %>
          </div>
          <%= form.button 'Update settings', class: 'btn waves-effect waves-light blue mt-4' %>
        <% end %>
      </div>
    </div>

    <div class="col s12 m8 pull-m4">
      <h2 class="mb-8 center-align">Edit <%= resource_name.to_s.humanize %></h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), multipart: true, html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="row">
          <div class="col s12 m4 l3 center-align" style="height: 100%">
            <% if current_user.avatar.attached? %>
              <% image_tag current_user.avatar, class: 'responsive-img', style: 'border-radius: 20%' %>
            <% else %>
              <%= image_tag "https://api.adorable.io/avatars/100/#{current_user.username}.png", class: 'responsive-img', style: 'border-radius: 20%' %>
            <% end %>
          </div>

          <div class="col s12 m8 l9 center-align">
            <div class="dropzone dropzone-default dz-clickable theme" data-controller="dropzone" data-max-file-size="5" data-dropzone-max-files="1">
              <%= f.file_field :avatar, direct_upload: true, data: { target: 'dropzone.input' } %>
              <div class="dropzone-msg dz-message needsclick">
                <h5 class="dropzone-msg-title">Drag here to upload or click here to browse</h5>
                <span class="dropzone-msg-desc">5 MB file size maximum. Allowed file types png, jpg.</span>
              </div>
            </div>
          </div>
        </div>

        <div class="input-field">
          <%= f.label :username %>
          <%= f.text_field :username, class: 'theme', autofocus: true, autocomplete: "email" %>
        </div>

        <div class="input-field">
          <%= f.label :email %>
          <%= f.email_field :email, class: 'theme', autocomplete: "email" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="input-field mb-2">
          <%= f.label :password %>
          <%= f.password_field :password, class: 'theme', autocomplete: "new-password" %>
          <% if @minimum_password_length %>
            <em><%= @minimum_password_length %> characters minimum</em>
          <% end %>
          <i>(leave blank if you don't want to change it)</i>
        </div>

        <div class="input-field mb-2">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, class: 'theme', autocomplete: "new-password" %>
        </div>

        <div class="input-field mb-2">
          <%= f.label :current_password %>
          <%= f.password_field :current_password, class: 'theme', autocomplete: "current-password" %>
          <i>(we need your current password to confirm your changes)</i>
        </div>

        <%= f.button 'Update', class: 'btn waves-effect waves-light blue mt-2' %>
      <% end %>

      <h3>Cancel my account</h3>

      <p>Unhappy? <%= button_to 'Cancel my account', registration_path(resource_name), class: 'btn red', data: { confirm: 'Are you sure?' }, method: :delete %></p>

      <%= link_to 'Back', :back %>
    </div>
  </div>
</div>
