<nav>
  <div class="blue nav-wrapper">
    <%= link_to 'FluckTuba', root_path, class: 'brand-logo ml-4' %>

    <a data-target="mobile-sidenav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <%= render 'partials/navbar/links' %>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-sidenav">
  <% if user_signed_in? %>
    <li>
      <div class="user-view">
        <div class="background">
          <img src="https://cdn.pixabay.com/photo/2016/11/29/05/45/astronomy-1867616__340.jpg">
        </div>
        <%= link_to edit_user_registration_path(current_user) do %>
          <% if current_user.avatar.attached? %>
            <% image_tag current_user.avatar, class: 'responsive-img', style: 'border-radius: 20%' %>
          <% else %>
            <%= image_tag "https://api.adorable.io/avatars/100/#{current_user.username}.png", class: 'responsive-img', style: 'border-radius: 20%' %>
          <% end %>
        <% end %>
        <a href="#"><span class="white-text name"><%= current_user.username %></span></a>
      </div>
    </li>
  <% end %>

  <%= render 'partials/navbar/links' %>
</ul>
