<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <%= link_to 'FluckTuba', root_path, class: 'navbar-item' %>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbar" class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item" href="#">Explorer</a>

      <% if user_signed_in? %>
        <div class="navbar-item has-dropdown">
          <a class="navbar-link">
            Create Post
          </a>

          <div class="navbar-dropdown">
            <div data-controller="modal">
              <a class="navbar-item" data-action="click->modal#open">Text</a>
              <%= render 'texts/modal_create' %>
            </div>

            <div data-controller="modal">
              <a class="navbar-item" data-action="click->modal#open">Image</a>
              <%= render 'images/modal_create' %>
            </div>

            <div data-controller="modal">
              <a class="navbar-item" data-action="click->modal#open">Video</a>
              <%= render 'videos/modal_create' %>
            </div>
          </div>
        </div>

        <div class="navbar-item has-dropdown">
          <a class="navbar-link">
            <%= render partial: 'partials/user_avatar', locals: { user: current_user, size: 24 } %>
          </a>

          <div class="navbar-dropdown is-right">
            <%= link_to 'My profile', user_path(current_user.username), class: 'navbar-item' %>
            <%= link_to 'Edit profile', edit_user_registration_path, class: 'navbar-item' %>

            <hr class="navbar-divider">

            <%= link_to 'Create a new Fluck', new_fluck_path, class: 'navbar-item' %>

            <hr class="navbar-divider">

            <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'navbar-item' %>
          </div>
        </div>
      <% else %>
        <%= link_to 'Sign up', new_user_registration_path, class: 'navbar-item' %>
        <%= link_to 'Sign in', user_session_path, class: 'navbar-item' %>
        <div class="field navbar-item">
          <input id="switchDarkMode" type="checkbox" name="switchDarkMode" class="switch is-rounded">
          <label for="switchDarkMode">Dark mode</label>
        </div>
      <% end %>
    </div>
  </div>
</nav>
