<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <%= link_to 'FluckTuba', root_path, class: 'navbar-item' %>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbar" class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item" href="#">Explorer</a>

      <% if user_signed_in? %>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link"><%= current_user.username %></a>

          <div class="navbar-dropdown">
            <%= link_to 'My profile', user_path(current_user.username), class: 'navbar-item' %>
            <%= link_to 'Edit profile', edit_user_registration_path, class: 'navbar-item' %>

            <hr class="navbar-divider">

            <%= link_to 'Create new Fluck', new_fluck_path, class: 'navbar-item' %>

            <hr class="navbar-divider">

            <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'navbar-item' %>
          </div>
        </div>
      <% else %>
        <%= link_to 'Sign up', new_user_registration_path, class: 'navbar-item' %>
        <%= link_to 'Sign in', user_session_path, class: 'navbar-item' %>
        <div class="field navbar-item">
          <input id="switchDarkMode" type="checkbox" name="switchDarkMode" class="switch is-rounded">
          <label for="switchDarkMode">Dark mode</label>
        </div>
      <% end %>
    </div>
  </div>
</nav>
