<div class="container">
  <div class="row">
    <div class="col s12 m10 offset-m1 l8 offset-l2 xl6 offset-xl3 center-align">
      <h3 class="mb-8">Forgot your password?</h3>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="input-field">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <%= f.button 'Send me reset password instructions', class: 'btn waves-effect waves-light blue' %>
      <% end %>

      <div class="mt-2">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
