<div class="container">
  <div class="row">
    <div class="col s12 m10 offset-m1 l8 offset-l2 xl6 offset-xl3 center-align">
      <h2>Log in</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="input-field col s12 m-0">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="input-field col s12 mb-0 mb-2">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="mt-2">
            <%= f.label :remember_me do %>
              <%= f.check_box :remember_me %>
              <span>Remember me</span>
            <% end %>
          </div>
        <% end %>

        <%= f.button 'Log in', class: 'btn waves-effect waves-light blue mt-4' %>
      <% end %>

      <div class="mt-3">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div
