<div class="columns">
  <div class="column is-12">
    <section class="hero">
      <div
        class="hero-body"
        style="
          background-image: url(<%= url_for(@fluck.banner) %>); background-position: center;
          <%= 'background-size: cover; background-repeat: no-repeat;' if @fluck.setting.banner_size == 'cover' %>
          height: 300px;
        ">
      </div>
    </section>

    <div class="column is-12" style="background-color: white">
      <div class="columns">
        <div class="column is-12-mobile is-10-tablet is-offset-1-tablet is-8-desktop is-offset-2-desktop">
          <div class="container">
            <div class="media" style="margin-top: -32px;">
              <figure class="media-left">
                <p class="image is-96x96">
                  <%= image_tag @fluck.image,
                  class: "#{'is-rounded' if @fluck.setting.image_shape == 'circle'}",
                  style: "border: 5px white solid;
                  #{'border-radius: 25%;' if @fluck.setting.image_shape == 'square_with_rounded_corners'}",
                  alt: 'Fluck image' %>
                </p>
              </figure>

              <div class="media-content">
                <div class="content" style="margin: 25px 0 0 0">
                  <strong class="title is-2 has-text-black"><%= @fluck.name %></strong>
                  <button type="button" class="button ml-5" style="background-color: <%= @fluck.setting.primary_color %>; color: <%= @fluck.setting.text_color %>">Join</button>
                  <button type="button" class="button is-outlined ml-5" style="background-color: white; color: <%= @fluck.setting.primary_color %>; border: 2px <%= @fluck.setting.primary_color %> solid;">Leave</button>
                </div>

                <div class="content">
                  <p>
                    <small class="subtitle is-5 has-text-black"><%= @fluck.nickname %></small>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-12">
      <div class="container">
        <div class="columns">
          <div class="column is-12-mobile is-8-tablet">
            <div class="my-4">
            </div>
          </div>

          <div class="column is-hidden-mobile is-4-tablet">
            <div class="card my-4" style="box-shadow: none; border: 2px <%= @fluck.setting.primary_color %> solid; border-radius: 5px;">
              <header class="card-header" style="background-color: <%= @fluck.setting.primary_color %>; width: 100%;">
                <p class="card-header-title" style="color: <%= @fluck.setting.text_color %>">
                  About
                </p>

                <% if policy(@fluck).edit? %>
                  <span style="float: right; padding: 0.75rem 1rem;">
                    <%= link_to 'Edit Fluck',
                                edit_fluck_path(@fluck.nickname),
                                style: "color: #{@fluck.setting.text_color} !important;
                                        font-size: 14px;
                                        padding: 6px;
                                        border: 1px #{@fluck.setting.text_color} solid;
                                        border-radius: 2px;" %>
                  </span>
                <% end %>
              </header>

              <div class="card-content" style="padding: 1rem;">
                <div class="content">
                  <%= @fluck.description %>

                  <div class="tile is-ancestor mb-0 mt-2">
                    <div class="tile is-parent pb-1">
                      <div class="tile is-child">
                        <%= pluralize(@fluck.tubas.count, 'tuba') %>
                      </div>
                      <div class="tile is-child">
                        30 posts
                      </div>
                    </div>
                  </div>

                  <hr class="my-4">

                  <p>
                    <i class="fas fa-birthday-cake mr-1"></i> Created <%= l @fluck.created_at.to_date, format: :long %>
                  </p>
                </div>
              </div>
            </div>

            <% if @fluck.rules.size > 0 || policy(@fluck).edit_rules? %>
              <div class="card my-4" style="box-shadow: none; border: 2px <%= @fluck.setting.primary_color %> solid; border-radius: 5px;">
                <header class="card-header" style="background-color: <%= @fluck.setting.primary_color %>; width: 100%;">
                  <p class="card-header-title" style="color: <%= @fluck.setting.text_color %>">
                    Rules
                  </p>

                  <% if policy(@fluck).edit_rules? %>
                    <span data-controller="modal" data-modal-allow-background-close="true" data-modal-allow-keyboard-close="true">
                      <span style="float: right; padding: 0.75rem 1rem;">
                        <a data-action="click->modal#open" style="color: <%= @fluck.setting.text_color %> !important; font-size: 14px; padding: 6px;">
                          <i class="fas fa-plus-circle"></i>
                        </a>
                      </span>

                      <%= render partial: 'rules/modal_new', locals: { fluck: @fluck } %>
                    </span>
                  <% end %>
                </header>

                <div class="card-content" style="padding: 1rem;">
                  <div class="content">
                    <div class="panel" id="panel_rules">
                      <% @fluck.rules.each_with_index do |rule, index| %>
                        <div style="border-bottom: 1px solid #ededed">
                          <% if rule.description.present? %>
                            <a class="panel-block accordion-item" div-id="<%= "content-#{index + 1}" %>" angle-id="<%= "angle-#{index + 1}" %>" style="border: none;">
                              <span style="width: 100%">
                                <%= "#{index + 1}. #{rule.title}" %>
                                <span style="float: right;">
                                  <i class="fas fa-angle-down" aria-hidden="true" id="<%= "angle-#{index + 1}" %>"></i>
                                </span>
                              </span>
                            </a>
                            <div class="is-hidden" id="<%= "content-#{index + 1}" %>">
                              <p class="px-2 py-2" style="font-size: 14px">
                                <%= rule.description %>

                                <% if policy(@fluck).edit_rules? %>
                                  <span style="float: right;">
                                    <i class="fas fa-edit my-1 edit-rule" aria-hidden="true" url="<%= edit_fluck_rule_path(@fluck.nickname, rule.id) %>"></i>
                                    <i class="fas fa-trash-alt my-1 delete-rule" aria-hidden="true" url="<%= fluck_rule_path(@fluck.nickname, rule.id) %>"></i>
                                  </span>
                                <% end %>
                              </p>
                            </div>
                          <% else %>
                            <a class="panel-block" style="border: none;">
                              <span style="width: 100%">
                                <%= "#{index + 1}. #{rule.title}" %>

                                <% if policy(@fluck).edit_rules? %>
                                  <span style="float: right;">
                                    <i class="fas fa-edit my-1 edit-rule" aria-hidden="true" url="<%= edit_fluck_rule_path(@fluck.nickname, rule.id) %>"></i>
                                    <i class="fas fa-trash-alt my-1 delete-rule" aria-hidden="true" url="<%= fluck_rule_path(@fluck.nickname, rule.id) %>"></i>
                                  </span>
                                <% end %>
                              </span>
                            </a>
                          <% end %>
                        </div>
                      <% end %>
                    </div>

                    <div data-controller="modal" data-modal-allow-background-close="true" data-modal-allow-keyboard-close="true">
                      <%= render partial: 'rules/modal_edit', locals: { fluck: @fluck } %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>

            <div class="card my-4" style="box-shadow: none; border: 2px <%= @fluck.setting.primary_color %> solid; border-radius: 5px; position: sticky; top: 60px;">
              <div class="card-content" style="padding: 1rem;">
                <div class="content">
                  <%= render partial: 'partials/footer', locals: { type: 2 } %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
