<div class="columns">
  <div class="column is-12">
    <section class="hero">
      <div
        class="hero-body"
        style="
          background-image: url(<%= url_for(@fluck.banner) %>); background-position: center;
          <%= 'background-size: cover; background-repeat: no-repeat;' if @fluck.settings.banner_size == 'cover' %>
          height: 300px;
        ">
      </div>
    </section>

    <div class="column is-12" style="background-color: white">
      <div class="columns">
        <div class="column is-12-mobile is-10-tablet is-offset-1-tablet is-8-desktop is-offset-2-desktop">
          <div class="container">
            <div class="media" style="margin-top: -32px;">
              <figure class="media-left">
                <p class="image is-96x96">
                  <%= image_tag @fluck.image,
                  class: "#{'is-rounded' if @fluck.settings.image_shape == 'circle'}",
                  style: "border: 5px white solid;
                  #{'border-radius: 25%;' if @fluck.settings.image_shape == 'square_with_rounded_corners'}",
                  alt: 'Fluck image' %>
                </p>
              </figure>

              <div class="media-content">
                <div class="content" style="margin: 25px 0 0 0">
                  <strong class="title is-2 has-text-black"><%= @fluck.name %></strong>

                  <% if policy(@fluck.tubas.new).create? %>
                    <a href="<%= fluck_tubas_path(@fluck.nickname) %>" class="button ml-5" style="background-color: <%= @fluck.settings.primary_color %>; color: <%= @fluck.settings.text_color %>;" data-method="post">Join</a>
                  <% else %>
                    <a href="<%= fluck_tuba_path(@fluck.nickname, @fluck.tuba(current_user).to_param) %>" class="button is-outlined ml-5" style="background-color: white; color: <%= @fluck.settings.primary_color %> !important; border: 2px <%= @fluck.settings.primary_color %> solid;" data-confirm="Are you sure?" data-method="delete">Leave</a>
                  <% end %>
                </div>

                <div class="content">
                  <p>
                    <small class="subtitle is-5 has-text-black"><%= @fluck.nickname %></small>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-12">
      <div class="container">
        <div class="columns">
          <div class="column is-12-mobile is-8-tablet">
            <div class="my-4">
            </div>
          </div>

          <div class="column is-hidden-mobile is-4-tablet">
            <div class="card my-4" style="box-shadow: none; border: 2px <%= @fluck.settings.primary_color %> solid; border-radius: 5px;">
              <header class="card-header" style="background-color: <%= @fluck.settings.primary_color %>; width: 100%;">
                <p class="card-header-title" style="color: <%= @fluck.settings.text_color %>">
                  About
                </p>

                <% if policy(@fluck).edit? %>
                  <span style="float: right; padding: 0.75rem 1rem;" data-controller="modal" data-modal-allow-background-close="true" data-modal-allow-keyboard-close="true">
                    <%= link_to 'Edit Fluck',
                                edit_fluck_path(@fluck.nickname),
                                class: 'mx-1',
                                style: "color: #{@fluck.settings.text_color} !important;
                                        font-size: 14px;
                                        padding: 6px;
                                        border: 1px #{@fluck.settings.text_color} solid;
                                        border-radius: 2px;" %>

                    <a data-action="click->modal#open"
                       class="mx-1"
                       style="color: <%= @fluck.settings.text_color %> !important;
                              font-size: 14px;
                              padding: 6px;
                              border: 1px <%= @fluck.settings.text_color %> solid;
                              border-radius: 2px;">
                      Customize Fluck
                    </a>

                    <%= render partial: 'fluck_settings/modal_customize', locals: { fluck: @fluck } %>
                  </span>
                <% end %>
              </header>

              <div class="card-content" style="padding: 1rem;">
                <div class="content">
                  <%= @fluck.description %>

                  <div class="tile is-ancestor mb-0 mt-2">
                    <div class="tile is-parent pb-1">
                      <div class="tile is-child">
                        <% if policy(@fluck).see_tubas? %>
                          <div data-controller="modal" data-modal-allow-background-close="true" data-modal-allow-keyboard-close="true">
                            <%= link_to fluck_tubas_path(@fluck.nickname), data: { action: 'click->modal#openWithGetRequest' } do %>
                              <%= pluralize(@fluck.tubas.count, @fluck.settings.tuba_name) %>
                            <% end %>

                            <%= render partial: 'tubas/modal_tubas' %>
                          </div>
                        <% else %>
                          <%= pluralize(@fluck.tubas.count, @fluck.settings.tuba_name) %>
                        <% end %>
                      </div>
                      <div class="tile is-child">
                        30 posts
                      </div>
                    </div>
                  </div>

                  <hr class="my-4">

                  <p>
                    <i class="fas fa-birthday-cake mr-1"></i> Created <%= l @fluck.created_at.to_date, format: :long %>
                  </p>
                </div>
              </div>
            </div>

            <% if @fluck.rules.size > 0 || policy(@fluck).edit_rules? %>
              <div class="card my-4" style="box-shadow: none; border: 2px <%= @fluck.settings.primary_color %> solid; border-radius: 5px;">
                <header class="card-header" style="background-color: <%= @fluck.settings.primary_color %>; width: 100%;">
                  <p class="card-header-title" style="color: <%= @fluck.settings.text_color %>">
                    Rules
                  </p>

                  <% if policy(@fluck).edit_rules? %>
                    <span data-controller="modal" data-modal-allow-background-close="true" data-modal-allow-keyboard-close="true">
                      <span style="float: right; padding: 0.75rem 1rem;">
                        <a data-action="click->modal#open" style="color: <%= @fluck.settings.text_color %> !important; font-size: 14px; padding: 6px;">
                          <i class="fas fa-plus-circle"></i>
                        </a>
                      </span>

                      <%= render partial: 'rules/modal_new', locals: { fluck: @fluck } %>
                    </span>
                  <% end %>
                </header>

                <div class="card-content" style="padding: 1rem;">
                  <section class="hero is-primary mb-4 is-hidden" style="border-radius: 5px;" id="message_rules_success">
                    <div class="hero-body" style="padding: 1rem 2rem;">
                      <div class="container">
                        <h6 class="subtitle is-6"></h6>
                      </div>
                    </div>
                  </section>

                  <section class="hero is-danger mb-4 is-hidden" style="border-radius: 5px;" id="message_rules_failed">
                    <div class="hero-body" style="padding: 1rem 2rem;">
                      <div class="container">
                        <h6 class="subtitle is-6"></h6>
                      </div>
                    </div>
                  </section>

                  <div class="content">
                    <div class="panel" id="panel_rules">
                      <% if @fluck.rules.size == 0 %>
                        <p class="has-text-centered pt-0 pb-0">There is no rules.</p>
                      <% else %>
                        <%= render partial: 'rules/rules', locals: { rules: @fluck.rules } %>
                      <% end %>
                    </div>

                    <div data-controller="modal" data-modal-allow-background-close="true" data-modal-allow-keyboard-close="true">
                      <%= render partial: 'rules/modal_edit', locals: { fluck: @fluck } %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>

            <div class="card my-4" style="box-shadow: none; border: 2px <%= @fluck.settings.primary_color %> solid; border-radius: 5px; position: sticky; top: 60px;">
              <div class="card-content" style="padding: 1rem;">
                <div class="content">
                  <%= render partial: 'partials/footer', locals: { type: 2 } %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
