<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= "#{yield :title} - " if content_for :title %>Flucktuba
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <%= render 'partials/navbar/index' %>

    <%= render 'partials/alerts' %>

    <%= yield %>
  </body>
</html>
