<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= "#{yield :title} - " if content_for :title %>Flucktuba
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="is_user" content="<%= current_user && 1 || '0' %>">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/079ea5cde4.js" crossorigin="anonymous"></script>
  </head>

  <body class="<%= current_user && current_user.profile.color_theme || 'light' %>">
    <%= render 'partials/navbar' %>

    <%= render 'partials/alerts' %>

    <%= yield %>
  </body>
</html>
